@import 'reset';
@import 'base';
@import 'palette';
@import 'components/btn/index';

.row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;

    &:last-child {
        margin-right: 0;
    }
}
